@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header, .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.top-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 1;
}

img {
    flex: 1;

}